
@{
    ViewBag.Title = "Danhmucsp";
    Layout = "~/Views/Shared/_ShopBanHang.cshtml";
}
@section scripts{
    <style>
        .common-home .breadcrumbs {
        display: block;
        }

    .item-inner .actions button.btn-cart {
        float: left;
        padding: 0 20px;
    }   
    </style>
    
}
<div class="container layer-category">
    <div class="layered-navigation-block"></div>
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="camera.html">Camera</a></li>
    </ul>
    <div class="row">
        <div class="col-order">
            <aside id="column-left" class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="layernavigation-module product_category">
                            <div class="panel panel-default">
                                <div class="layered-heading module-title"><h2>Danh mục</h2></div>
                                <div class="layered">
                                    <div class="list-group">
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="active">
                                                    Camera (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Máy tính và laptop (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Nội thất (8)
                                                </a>
                                            </label>

                                            <div class="list-group-item">
                                                <div class="">
                                                    <a href="#" class="a-filter add-filter">
                                                        &nbsp;&nbsp;&nbsp;- Đồ dùng nhà bếp (8)
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="phu-kien.html" class="">
                                                    Phụ kiện (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Sách và Văn phòng phẩm (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Tai nghe (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Tay cầm chơi game (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Thời trang (8)
                                                </a>
                                            </label>

                                        </div>
                                        <div class="filter-attribute-container">
                                            <label>
                                                <a href="#" class="">
                                                    Điện thoại và máy tính bảng (8)
                                                </a>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 " id="filter-0">
                        <div class="layernavigation-module product_category">
                            <div class="panel panel-default">
                                <div class="layered-heading module-title"><h2>Lọc sản phẩm</h2></div>

                                <form name="filter_form" method="post" action="#" class="layered">
                                    <div class="list-group">


                                        <div class="filter-attribute-container">
                                            <label>Thương hiệu</label>
                                            <div class="list-group-item">
                                                <div id="filter-group-price">
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="5" onclick="loadFilter()" />
                                                            HTC
                                                        </label>
                                                    </div>
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="10" onclick="loadFilter()" />
                                                            Sony
                                                        </label>
                                                    </div>
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="9" onclick="loadFilter()" />
                                                            Canon
                                                        </label>
                                                    </div>
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="8" onclick="loadFilter()" />
                                                            Apple
                                                        </label>
                                                    </div>
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="7" onclick="loadFilter()" />
                                                            Hp
                                                        </label>
                                                    </div>
                                                    <div class="checkbox a-filter add-filter">
                                                        <label>
                                                            <input type="checkbox" name="manufacturer[]" value="6" onclick="loadFilter()" />
                                                            Palm
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel-footer text-right hidden">
                                        <button type="button" id="button-filter" class="btn btn-primary"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        function loadFilter() {
                            var url = 'Danhmucsp';
                            var arr = [];

                            var price = $('input[name^=\'price\']:checked').val();
                            if (price != null) {
                                arr.push('price_filter=' + price);
                            }

                            var manufacturer = [];
                            $('input[name^=\'manufacturer\']:checked').each(function (element) {
                                manufacturer.push(this.value);
                            });

                            if (manufacturer.length != 0) {
                                arr.push('manufacturer_filter=' + manufacturer.join(','));
                            }

                            var option = [];
                            $('input[name^=\'option\']:checked').each(function (element) {
                                option.push(this.value);
                            });

                            if (option.length != 0) {
                                arr.push('option_filter=' + option.join(','));
                            }

                            if (arr.length > 0) {
                                var path = arr.join('&');
                                location = (url.indexOf('?') >= 0) ? url + '&' + path : url + '?' + path;
                            }
                        }
                    </script>                            <div class="sub-col col-sm-12">
                        <div class="banner-static static-top-bigone1">
                            <div class="owl-container">
                                <div id="static_top_bigone289238651">
                                    <div class="col ">
                                        <div class="image">
                                            <a href="javascript:void(0)" target="_self">
                                                <img src="/Content/image/cache/catalog/banner/img-static-sidebar-270x428.jpg" alt="Samsung second Generation">
                                                <span class="text">
                                                    <span class="text1">Samsung second Generation</span>
                                                    <span class="text2">Sale up to</span>
                                                    <span class="text3"><strong>$399.00</strong></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div id="content" class="col-sm-9">
                <div class="category-info">
                    <h2 class="category-name">Camera</h2>
                </div>

                <div class="custom-category ">
                    <!--products filter-->
                    <div class="link-compare"><a href="#" id="compare-total">So sánh sản phẩm (0)</a></div>
                    <div class="toolbar toolbar-products">
                        <div class="modes">
                            <div class="btn-group">
                                <button type="button" id="grid-view" class="btn" data-toggle="tooltip" title="Lưới">
                                    <i class="fa fa-th"></i>
                                </button>
                                <button type="button" id="list-view" class="btn" data-toggle="tooltip" title="Danh sách">
                                    <i class="fa fa-th-list"></i>
                                </button>
                            </div>
                        </div>

                        <div class="toolbar-amount"><span></span></div>

                        <div class="sorter">
                            <label>Sắp xếp theo: </label>
                            <select id="input-sort" class="form-control" onchange="location = this.value;">
                                <option value="https://bigone.exdomain.net/camera?sort=p.date_added&amp;order=DESC" selected="selected">Mặc định</option>
                                <option value="Danhmucsp?sort=pd.name&amp;order=ASC">Tên (A - Z)</option>
                                <option value="Danhmucsp?sort=pd.name&amp;order=DESC">Tên (Z - A)</option>
                                <option value="Danhmucsp?sort=p.price&amp;order=ASC">Giá (Thấp &gt; Cao)</option>
                                <option value="Danhmucsp?sort=p.price&amp;order=DESC">Giá (Cao &gt; Thấp)</option>
                                <option value="Danhmucsp?sort=rating&amp;order=DESC">Đánh giá (Cao nhất)</option>
                                <option value="Danhmucsp?sort=rating&amp;order=ASC">Đánh giá (Thấp nhất)</option>
                                <option value="Danhmucsp?sort=p.model&amp;order=ASC">Dòng sản phẩm (A - Z)</option>
                                <option value="Danhmucsp?sort=p.model&amp;order=DESC">Dòng sản phẩm (Z - A)</option>
                            </select>
                        </div>
                        <div class="limiter">
                            <label>Hiển thị: </label>
                            <select id="input-limit" class="form-control" onchange="location = this.value;">
                                <option value="Danhmucsp?limit=12" selected="selected">12</option>
                                <option value="Danhmucsp?limit=24">24</option>
                                <option value="Danhmucsp?limit=36">36</option>
                                <option value="Danhmucsp?limit=48">48</option>
                            </select>
                        </div>
                    </div>

                    <!--product list-->
                    <div class="custom-products quickview-add">
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item0">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-5-600x600.jpg" alt="Tai nghe chụp tai Sony MDR - ZX110AP" title="Tai nghe chụp tai Sony MDR - ZX110AP" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="tai-nghe-chup-tai-sony-mdr-zx110ap.html">Tai nghe chụp tai Sony MDR - ZX110AP</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating5">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Bảo hành 1 năm 1 đổi 1. Sản phẩm chính hãng của Sony.Dải tần rộng tạo âm cao và trầm rõ ràng, chi tiết.Âm bass khỏe và ấm cho chất lượng âm thanh trung thực.Đệm tai nghe mỏng tai và êm.Khớp điều chỉnh kích thước giúp vừa vặn khi đeo.Có nút nhận cuộc&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('60');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('60');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('60');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item1">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-4-600x600.jpg" alt="Tai nghe chụp tai Kanen IP-2050" title="Tai nghe chụp tai Kanen IP-2050" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="/SanPham/Chitietsp">Tai nghe chụp tai Kanen IP-2050</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-regular">
                                                <span class="regular-price"><span class="price">100,000đ</span></span>
                                            </div>

                                            <p class="product-des">Bảo hành 1 năm 1 đổi 1. Có thể gấp gọn lại tai nghe để tiện mang theo.Lớp đệm tai êm và dày, giúp đeo tai thoải mái và hạn chế bị rách.Có thể kéo dãn tai nghe để vừa vặn hơn khi sử dụng.Có nút chỉnh tương thích với các dòng điện thoại khác nhau.Dây dài&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('61');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('61');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('61');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item2">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-6-600x600.jpg" alt="Máy tính Dell Vostrol" title="Máy tính Dell Vostrol" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="may-tinh-dell-vostrol.html">Máy tính Dell Vostrol</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Weighted, nonskid base for one-hand dispensing.Designed to hold tapes up to 1,500 Inches long.For Tape Width: 1/2 and 3/4 Inches1" Core Desk Tape Dispenser.For tapes 1/2" and 3/4" wide up to 1500" long.Weighted, nonskid base for one-hand dispensing.Extra&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('58');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('58');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('58');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item3">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-8-600x600.jpg" alt="Máy tính bảng Asus" title="Máy tính bảng Asus" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="may-tinh-bang-asus.html">Máy tính bảng Asus</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Thông số kỹ thuậtMàn hìnhIPS LCD, 8"Hệ điều hànhAndroid 7.0CPUQualcomm MSM8940, 1.4 GHzRAM3 GBBộ nhớ trong32 GBCamera sau8 MPCamera trước8 MPKết nối mạngWiFi, 3G, 4G LTEHỗ trợ SIMNano SimĐàm thoạiCó</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('59');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('59');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('59');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item4">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-3-600x600.jpg" alt="Tay cầm DUALSHOCK 4 - Steel Black" title="Tay cầm DUALSHOCK 4 - Steel Black" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="tay-cam-dualshock-4-steel-black.html">Tay cầm DUALSHOCK 4 - Steel Black</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating5">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Tay cầm DualShock 4 dành cho PlayStation 4.Thiết kế tay cầm thuận tiện với các nút bấm nhạy, cảm ứng hiện đại.Tích hợp bộ rung cho trải nghiệm game chân thật.Tích hợp loa ngoài và cổng tai nghe 3.5 cho thưởng thức âm thanh thuận tiện hơn.Chia sẻ thuận&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('57');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('57');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('57');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item5">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-7-600x600.jpg" alt="Camera gắn tường" title="Camera gắn tường" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="camera-gan-tuong.html">Camera gắn tường</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Camera bán cầu dạng gắn tường Vanech VP-24011/3″ SONY Color CCD . Day & Night– High Resolution: Color Mode: 520 TV LinesB/W Mode: 560 TV Lines– Varifocal Lens (f = 3.5 ~ 8 mm)/F1.4– IR LEDs/Distance : 21 pcs x IR LEDs (10~15m)– Minimum Illumination :&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('56');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('56');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('56');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item6">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-2-600x600.jpg" alt="Tay cầm DUALSHOCK 4 - Midnight Blue" title="Tay cầm DUALSHOCK 4 - Midnight Blue" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="/SanPham/Chitietsp">Tay cầm DUALSHOCK 4 - Midnight Blue</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Tay cầm DualShock 4 dành cho PlayStation 4.Thiết kế tay cầm thuận tiện với các nút bấm nhạy, cảm ứng hiện đại.Tích hợp bộ rung cho trải nghiệm game chân thật.Tích hợp loa ngoài và cổng tai nghe 3.5 cho thưởng thức âm thanh thuận tiện hơn.Chia sẻ thuận&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('55');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('55');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('55');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid module-style1 col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                            <div class="item item7">
                                <div class="item-inner">
                                    <div class="col-image">
                                        <div class="images-container">
                                            <div class="label-pro-sale">
                                                <span>-40%</span>
                                            </div>
                                            <a href="/SanPham/Chitietsp">
                                                <img src="/Content/image/cache/catalog/san-pham/product-1-600x600.jpg" alt="Tay cầm DUALSHOCK 4 - Crystal" title="Tay cầm DUALSHOCK 4 - Crystal" class="img-responsive lazy" />
                                            </a>
                                            <div class="quick-view"></div>
                                        </div>
                                    </div>
                                    <div class="col-des">
                                        <div class="des-container">
                                            <h2 class="product-name"><a href="tay-cam-dualshock-4-crystal.html">Tay cầm DUALSHOCK 4 - Crystal</a></h2>

                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating0">rating</div>
                                                </div>
                                            </div>
                                            <div class="price-box box-special">
                                                <p class="special-price"><span class="price">60,000đ</span></p>
                                                <p class="old-price"><span class="price">100,000đ</span></p>
                                            </div>

                                            <p class="product-des">Tay cầm DualShock 4 dành cho PlayStation 4.Thiết kế tay cầm thuận tiện với các nút bấm nhạy, cảm ứng hiện đại.Tích hợp bộ rung cho trải nghiệm game chân thật.Tích hợp loa ngoài và cổng tai nghe 3.5 cho thưởng thức âm thanh thuận tiện hơn.Chia sẻ thuận&#8230;</p>

                                            <div class="actions">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('54');">
                                                    <span><span>Thêm vào giỏ</span></span>
                                                </button>

                                                <ul class="add-to-links">
                                                    <li>
                                                        <a class="link-wishlist fa fa-heart" title="Thêm vào yêu thích" data-toggle="tooltip" onclick="wishlist.add('54');">
                                                            <em>Thêm vào yêu thích</em>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="link-compare fa fa-signal" title="So sánh sản phẩm" data-toggle="tooltip" onclick="compare.add('54');">
                                                            <em>So sánh sản phẩm</em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--pagination-->
                    <div class="toolbar toolbar-products toolbar-bottom">
                        <div class="toolbar-amount"><span>Hiển thị 1 đến 8 của 8 (1 trang)</span></div>
                        <div class="pages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var html = '';
        html += '<a class="" href="';
        html += "#";
        html += '" target="';
        html += "_self";
        html += '"><img class="" src="';
        html += "/Content/image/cache/catalog/banner/payment-364x32.png";
        html += '" alt="';
        html += "payment";
        html += '" /></a>';

        $('footer .footer-top .footer-payment').append(html);
    });
</script>

